@import "../../styles/theme";
@import "../../styles/mixins";

.dropdown {
  position: relative;
}

.list {
  z-index: 3;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: $color-bg-dropdown;
  color: $color-dropdown;
  border-radius: 16px;
  width: 100%;
}

.listItem {
  border-radius: 16px;
  width: 100%;
  text-align: center;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;

  &:hover {
    background-color: $color-bg-dropdown-hover;
  }
}

.selected {
  //background-color: $color-bg-dropdown-hover;
}