#__next {
  --height-header-desktop: 130px;
  --height-header-mobile: 82px;
}

.theme-main {
  --color-bg: #000;
  --color-bg-header: transparent;
  --color-bg-section: rgba(255, 255, 255, 0.15);
  --color-bg-button: #28303D;
  --color-bg-menu: #152234;

  --color-header: #FFF;
  --color-text: #FFF;
  --color-a: #FFF;
  --color-a-hover: #848B96;
  --color-text-secondary: #848B96;
  --color-h: #F0A944;
  --color-span: #F0A944;
  --color-button: #B8BCDD;
  --color-button-disabled: rgba(184, 188, 221, 0.4);
  --color-scrollbar: #B8BCDD;
}

//.theme-dark {
//  --color-bg: black;
//  --color-bg-header: black;
//  --color-header: white;
//}

// colors for background
$color-bg: var(--color-bg);
$color-bg-header: var(--color-bg-header);
$color-bg-section: var(--color-bg-section);
$color-bg-button: var(--color-bg-button);
$color-bg-menu: var(--color-bg-menu);

// colors for text
$color-header: var(--color-header);
$color-text: var(--color-text);
$color-text-secondary: var(--color-text-secondary);
$color-a: var(--color-a);
$color-a-hover: var(--color-a-hover);
$color-h: var(--color-h);
$color-span: var(--color-span);
$color-button: var(--color-button);
$color-button-disabled: var(--color-button-disabled);
$color-scrollbar: var(--color-scrollbar);

// dimensions
$height-header-desktop: var(--height-header-desktop);
$height-header-mobile: var(--height-header-mobile);